.navbar{
    width:100%;
    padding:10px;
    background-color:#101012;
    display:flex;
    align-items: center;
    justify-content: center;
} /*barra de navegacao*/

.navbar-logo{
    color:white;
    font-weight:bold;
    font-size:35px;
    font-family:sans-serif;
    letter-spacing: -2px;
    text-decoration: none;
}/*logotipo*/

.logo-container{
    display:flex;
    justify-content: center;
    align-items: space-around;
    flex-wrap:wrap;
    width:20%;
    margin-right:10%;
}/*toda area do logo*/
.zoo {
    color:#e8850e;
}/*parte do logotipo*/

.logico{
    color:green;
}/*parte do logo*/

.logo-info{
    font-size:11px;
    font-family:sans-serif;
    color:#ebebeb;
    opacity:0.5;
}/*informacao do logotipo*/

.navbar-ul{
    display: flex;
    justify-content: flex-end;
    align-items: center !important;
    z-index:999
}/*links*/

.navbar-li{
    margin-left:15px;
    padding:10px;
    height:100px;
    display: flex;
    align-items: center !important;
    cursor:pointer;
    transition:background-color 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
    list-style: none;
    text-transform: uppercase;
}/*li*/

.navbar-link{
    color:#ebebeb;
    text-decoration: none;
}


.menu-btn{
    background:#ef8c15;
    width:25px;
    height:25px;
    padding:10px;
    border-radius:100%;
    display: none;
    cursor:pointer
}

.navbar-close{
    display:none;
}

/*pseodo elements*/

.navbar-li:hover{
    background-color: #ef8c15;
}

/*mobile friendly*/

/*small devices */
@media screen and (max-width:991px){

    /*icon in mobiles*/
    .logo-container{
        width:40%;
    }

  

    .menu-btn{
        display:block;
        float:right;
        margin-left:20%
    }

    /*menu in mobiles*/

      
    .navbar-ul{
        display:none;
        position:fixed;
        top:0px;
        left:0px;
        width:100%;
        height:100%;
        background:rgba(0,0,0,.9);
        overflow:auto;

    }

    .navbar-li{
        margin:30px;
        padding:3px;
        height:30px;
    }
    
    .navbar-link{
        font-size:25px;
    }

    .navbar-close{
        display:block;
        position:absolute;
        top:10px;
        left:85%;
        z-index:5;
        color:white;
        font-weight:bolder;
        font-size:50px;
        cursor:pointer;
    }


}

/*extra small devices*/
@media screen and (max-width:330px){
    .navbar-logo{
        font-size:20px;
    }
    
}